@{
    ViewData["Title"] = "Home Page";
}

<h1>New Message:</h1>

<form action="/messages" method="post">
  <label for ="message">Message</label>
  <input id="message" name="message" type="text">
  <label for ="topic">Topic</label>
  <input id="topic" name="topic" type="text">

</form>

<h1>View all Messages:</h1>

<ol>
@foreach (BMessage message in Model)
{
  <ul>
      <li>ID: @message.BMessageId</li>
      <li>Topic: @message.Topic</li>
      <li>Content: @message.Message</li>
  </ul>

  <a href="BMessages/Details/@(message.BMessageId)"><p>View Details</p></a>
  <br>
}
</ol>