@{
    ViewData["Title"] = "Home Page";
}

<h1>All Messages:</h1>

<ol>
@foreach (BMessage message in Model)
{
    <ul>
        <li>ID: @message.BMessageId</li>
        <li>Message: @message.Message</li>
    </ul>
    <br>

}
</ol>
